streamlit

langchain
langchain-community
langchain-core
langsmith

sentence-transformers
chromadb
faiss-cpu

scrapling
beautifulsoup4
requests

google-genai

python-dotenv
tqdm
numpy
